#frame{
  text-align: center;
}

#container{
  border: 5px solid black;
  width: 20%;
  margin: 2%;
  padding: 1%;
}

#box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img{
  border: 2px solid black;
  height: 50%;
  width: 50%;
  margin-top: 2%;
}

#shimmer{
  border: 5px solid black;
  width: 20%;
  margin: 2%;
  padding: 1%;
}

button{
  padding: 10px;
  background-color: aqua;
  border-radius: 5px;
}